<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-success">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Department</th>

    </tr>
    </thead>
    <tbody>
    <th:block th:each="teacherDto:${teacherDtoList}">
        <tr>
            <td th:text="${teacherDto.teacherId}"></td>
            <td th:text="${teacherDto.teacherName}"></td>
            <td th:text="${teacherDto.age}"></td>
            <td th:text="${teacherDto.departmentDto.departmentName}"></td>

        </tr>
    </th:block>

    </tbody>
</table>

</body>
</html>