<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/dept/save}" th:object="${deptDtoForm}" method="post">
    <input type ="hidden" th:field="*{departmentId}"/>
    Name:   <input type="text" th:field="*{departmentName}" /><br><br>

    Teacher:
    <select th:field="*{teacherIdList}" multiple>
        <option th:each="teacher : ${teacherListObj}"
                th:value="${teacher.teacherId}"
                th:text="${teacher.teacherName}">
        </option>
    </select><br><br>

    Course:
        <select th:field="*{courseIdList}" multiple>
            <option th:each="course : ${courseListObj}"
                    th:value="${course.courseId}"
                    th:text="${course.courseName}">
            </option>
        </select><br><br>

    <button type="submit">Save</button>

</form>
</body>
</html>